<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jzhou.contactlingokeyboard">

    <uses-permission android:name="com.example.jzhou.contactlingokeyboard.READ_CONTEXT_DATA" />
    <uses-permission android:name="com.example.jzhou.contactlingokeyboard.WRITE_CONTEXT_DATA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ContactAccess"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/contact_access" />
        </service>


        <service
            android:name=".ContactAccess"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_GENERIC" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/contact_access" />
        </service>


        <service
            android:name=".MyKeyboard"
            android:enabled="true"
            android:exported="true"
            android:label="@string/ContactLingoKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>


        <activity
            android:name=".Settings"
            android:label="Preferences">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <provider
            android:name=".Provider"
            android:authorities="${applicationId}.provider.message"
            android:exported="false"
            android:readPermission="com.example.jzhou.contactlingokeyboard.READ_CONTEXT_DATA"
            android:writePermission="com.example.jzhou.contactlingokeyboard.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Aware_Provider"
            android:authorities="${applicationId}.provider.aware"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Processor_Provider"
            android:authorities="${applicationId}.provider.processor"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />
        <provider
            android:name="com.aware.providers.Keyboard_Provider"
            android:authorities="${applicationId}.provider.keyboard"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <activity
            android:name=".ManualActivity"
            android:label="@string/title_activity_manual"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
